<mat-toolbar>
  <button mat-icon-button color="primary" aria-label="Open Sidenav" (click)="openSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Test Branchbit Angular</span>
  <span class="example-spacer"></span>
  <button mat-icon-button color="primary" aria-label="Open Notifications">
    <mat-icon>notifications</mat-icon>
  </button>
  <button mat-icon-button color="primary" aria-label="Open User Profile">
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>
