<table mat-table [dataSource]="userData.data" class="mat-elevation-z8">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Nombre del Cliente </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Fecha de Folio </th>
    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
  </ng-container>


  <ng-container matColumnDef="id_sac">
    <th mat-header-cell *matHeaderCellDef> Folio SAC </th>
    <td mat-cell *matCellDef="let element"> {{element.id_sac}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="id_mv">
    <th mat-header-cell *matHeaderCellDef> Folio MV </th>
    <td mat-cell *matCellDef="let element"> {{element.id_mv}} </td>
  </ng-container>

  <ng-container matColumnDef="registered">
    <th mat-header-cell *matHeaderCellDef> Registrado </th>
    <td mat-cell *matCellDef="let element"> {{element.registered}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actiones </th>
    <td mat-cell *matCellDef="let element">
      <button mat-flat-button class="mx-8">Options</button>
      <button mat-flat-button class="mx-8">Details</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


<div class="container">
  <mat-form-field class="select-expediente">
    <mat-label>Expediente</mat-label>
    <mat-select>
      <mat-option value="exp_credito">Expediente Crédito</mat-option>
      <mat-option value="exp_capacitacion">Expediente Capacitacion</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
    <mat-tab label="Identificación">
      <div class="tab-content">
        <app-image
          *ngFor="let dataImage of dataTabsImages.tab1; index as i"
          [imageUrl]="dataImage.imageUrl"
          [altText]="dataImage.altText">
        </app-image>
      </div>
    </mat-tab>
    <mat-tab label="Comprobante">
      <div class="tab-content">
        <app-image
          *ngFor="let dataImage of dataTabsImages.tab2; index as i"
          [imageUrl]="dataImage.imageUrl"
          [altText]="dataImage.altText">
        </app-image>
      </div>
    </mat-tab>
    <mat-tab label="Propiedad">
      <div class="tab-content">
        <app-image
          *ngFor="let dataImage of dataTabsImages.tab3; index as i"
          [imageUrl]="dataImage.imageUrl"
          [altText]="dataImage.altText">
        </app-image>
      </div>
    </mat-tab>
    <mat-tab label="Contrato">
      <div class="tab-content">
        <app-image
          *ngFor="let dataImage of dataTabsImages.tab4; index as i"
          [imageUrl]="dataImage.imageUrl"
          [altText]="dataImage.altText">
        </app-image>
      </div>
    </mat-tab>
    <mat-tab label="Contacto">
      <div class="tab-content">
        <app-image
          *ngFor="let dataImage of dataTabsImages.tab5; index as i"
          [imageUrl]="dataImage.imageUrl"
          [altText]="dataImage.altText">
        </app-image>
      </div>
    </mat-tab>
    <mat-tab label="Fotografía">
      <div class="tab-content">
        <app-image
          *ngFor="let dataImage of dataTabsImages.tab6; index as i"
          [imageUrl]="dataImage.imageUrl"
          [altText]="dataImage.altText">
        </app-image>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
